html {
    font-size: 62.5%;
    font-family: "Inter", sans-serif;
}

body {
    background-color: var(--background);
    font-size: 1.4rem;
}

header {
    border: 1px solid tomato;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    padding: var(--spacing-l);
}

header figure {
    border: 3px dashed pink;
    width: 10rem;
}

header figure img {
    width: 100%;
}

header nav ul {
    border: 1px solid tomato;
    display: flex;
    gap: 2rem;
    list-style: none;
}

#button-hamburger {
    position: absolute;
    right: var(--spacing-l);
    display: none;
    width: 5rem;
    height: 5rem;
    background-color: rgb(81, 209, 209);
    cursor: pointer;
}
